body {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .7),rgba(14, 14, 14, .7)), url(background.jpg);
  margin: 0;
  font-family: "my_underwood";
  background-attachment: fixed;
}
@font-face {
    font-family: my_underwood;
    src: url(MyUnderwood.ttf);
  }

nav {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  background-color: rgb(0, 0, 0, 1)
}

.resumelink a {
  font-size: 2.3em;
  color: grey;
}

.resumelink a:hover{
    color: blue;
}

#resumeimage {
  width: 60vw;
  padding: 2%;
}

nav a {
  color: white;
  padding: 2%;
}

#headshot {
  padding: 1.5em;
  width: 20vw;
}

.rightpage h2 {
  padding-bottom: 5%;
  font-size: 2.4em;
  margin: 0;
}

.background {
  padding:2%;
}

header {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
}

header h1 {
  padding-left: 15%;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 5vw;
  margin: 0;
}


header h2 {
  padding-left: 55%;
  padding-top: 1%;
  font-size: 4vw;
  padding-bottom: 4%;
  margin: 0;
}
.background {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.2em;
  width: 25vw;
}

.rightpage {
  padding: 1%;
  padding-top: 4%;
  width: 60vw;
}

.rightpage h3, .rightpage h2, .rightpage p, ul {
  font-family: "Courier New", Courier, monospace;
}

/*@media only screen and (max-width: 423px) {
  .background {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .rightpage {
    width: 100%;
  }
}*/

.projectmenu {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  20% 3fr 3fr;*/
  grid-gap: 1.9em;
  grid-template-areas:
    "i i i"
    "p1 p2 p3"
    "p4 p5 p6"
    "p7 p7 p7"
}
 .intro{
  /*grid-column-start: 1;
  grid-column-end: 4;*/
}
.projectmenu div:not(.intro) {
  border: solid;
  padding: .7em;
}

.intro {
  grid-area: i;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}
.p3 {
  grid-area: p3;
}
.p4 {
  grid-area: p4;
}
.p5 {
  grid-area: p5;
}
.p6 {
  grid-area: p6;
}
.p7 {
  grid-area: p7;
}

@media screen and (max-width: 900px) {
  .projectmenu {
    display: grid;
    /*grid-template-columns: 1fr;
    grid-template-rows:  20% 3fr 3fr 3fr 3fr 3fr 3fr 3fr;*/
    grid-gap: 1.9em;
    grid-template-areas:
    "i  "
    "p1 "
    "p2 "
    "p3 "
    "p4 "
    "p5 "
    "p6 "
    "p7"
    }
  .rightpage {
    width: 100%;
    }
  .background {
    display: flex;
    flex-wrap: wrap-reverse;*/
    }
  }




/*
@supports (display: flex) {
  ul{
    display: flex;
  }
}*/
/*used for things that might not be supported on all devices*/
