body {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  /*background-image: url(binary.png);*/
  /*border:2px solid ;*/
  background-color: #000000;
  /*background: linear-gradient(rgba(0, 0, 0, .7),rgba(14, 14, 14, .7)), url(background.jpg);*/
  margin: 0;
  font-family: "my_underwood";
  /*background-attachment: fixed;*/
}
@font-face {
    font-family: my_underwood;
    src: url(MyUnderwood.ttf);
  }

nav {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  background-color: rgb(20, 20, 20, 1)
}

a {
  color: #0505a9;
}

nav a {
  color: white;
  padding: 2%;
}

#headshot {
  /* border: 10px solid #2d2d5a; */
  /*align-self: center;*/
  padding: 1.5em;
  width: 20vw;
  /*height: auto;*/
  /*min-width: 150px;*/

}
.rightpage h2 {
  /* display: inline-block; */
  /* padding-left: 20%; */
  padding-bottom: 5%;
  font-size: 2.4em;
  margin: 0;
}
.background {
  padding:2%;
  /*background-color: rgba(0, 0, 0, 1)*/
}

header {
  /* border: 2px solid; */
  background: linear-gradient(rgba(0, 0, 0, 1),rgba(245, 245, 249, 0.3)), url(computer3.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right bottom;

}

header h1 {
  padding-left: 15%;
  padding-top: 7.5%;
  padding-bottom: 2%;
  font-size: 5vw;
  margin: 0;
}


header h2 {
  padding-left: 55%;
  padding-top: 1%;
  font-size: 4vw;
  padding-bottom: 7%;
  margin: 0;
}
.background {
  display: flex;
  flex-wrap: wrap;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.2em;
  width: 25vw;
}

.rightpage {
  padding: 1%;
  padding-top: 4%;
  width: 60vw;
}

.rightpage h3, .rightpage h2, .rightpage p {
  font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 423px) {
  .background {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .rightpage {
    width: 100%;
  }
}

/*
@supports (display: flex) {
  ul{
    display: flex;
  }
}*/
/*used for things that might not be supported on all devices*/
